body{
    background-color: white;
}
/* index css */
#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
}
#welcome{
    color:rgb(37, 37, 37);
}
/* index css end */
/* login/base css */
#base{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
    padding-top: 5%;
    color: rgb(37, 37, 37)
}
#letters{
    color: rgb(37, 37, 37);
}
/* end login/base css */

#signup{
    color:rgb(37, 37, 37);
}
/* egg css */
#egg{
    color: white;
}

#test{
    color:black
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}