{% extends 'base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Socially</title>
    </head>
    <body>
        
    
    {% block title %}Home{% endblock %}
    
    {% block content %}
        <!-- navbar not completed -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Socially</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Tool Kit</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'signup' %}">Signup</a>
                    </li>
                </ul>
            </div>
            <div>
        </nav>
        <br>
    <!-- hmmmm -->
        {{message}}
    <article>
        <header>
            <h1>
            Thanks for stopping by! We hope to see you soon!
            </h1>
        </header>
    
    {% if user.is_authenticated %}
    <form action="{% url 'socially:index' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="social-text">
        <button id="home" type="submit">Post Social</button>
    </form>

    Please click the link below to be logged out! 
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p>You have been successfully logged out.</p>
    <a href="{% url 'login' %}">Click me to go back home!</a>
    {% endif %}
    {% endblock %}
</body>
</html>